# Exclude build and obj directories
*obj
*bin

# Convert to whitelist - include with (!)
*.*


# Include specific file types
!*.c
!*.cs
!*.css
!*.cpp
!*.sln
!*.html
!*.json
!*.csproj
!.gitignore
!/.vscode
!LICENSE
!README.md
!/examples
!/src
!*/SliLib*
